<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.java_chatroom.model.GroupMessageRecordMapper">

    <!-- 插入群消息记录 -->
    <insert id="insert">
        INSERT INTO group_message_record (groupId, userId, messageContent)
        VALUES (#{groupId}, #{userId}, #{messageContent})
    </insert>

    <!-- 根据群组ID获取历史消息 -->
    <select id="selectByGroupId" resultType="com.example.java_chatroom.model.GroupMessageRecord">
        SELECT recordId, groupId, userId, messageContent
        FROM group_message_record
        WHERE groupId = #{groupId}
        ORDER BY recordId ASC
    </select>

</mapper>
