<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.java_chatroom.model.MessageMapper">
    <insert id="insert1" useGeneratedKeys="true" keyProperty="messageId">
        insert into message values(null, #{fromId}, #{sessionId}, #{content}, #{createTime}, #{status})
    </insert>

    <select id="selectByMessageId" resultType="com.example.java_chatroom.model.Message">
        select * from message where messageId = #{messageId}
    </select>

    <select id="selectBySessionId" resultType="com.example.java_chatroom.model.Message">
        select m.*, u.username as fromName
        from message m
                 join user u on m.fromId = u.userId
        where sessionId = #{sessionId}
        order by createTime
    </select>

    <select id="selectBySessionIdWithQuery" resultType="com.example.java_chatroom.model.Message">
        select
            m.messageId, m.sessionId, m.fromId, u.username as fromName, m.content, m.createTime
        from
            message m join user u on m.fromId = u.userId
        where
            m.sessionId = #{sessionId}
            and m.content like concat('%', #{query}, '%')
        order by
            m.createTime
    </select>

    <select id="getLastMessageBySessionId" resultType="java.lang.String">
        select content from message
        where sessionId = #{sessionId} and status = 0
        order by createTime desc
        limit 1
    </select>

    <select id="selectHistoryForUser" resultType="com.example.java_chatroom.model.Message">
        SELECT
        m.messageId, m.sessionId, m.fromId, u.username as fromName,
        m.content, m.createTime
        FROM
        message_session_user msu
        JOIN
        message m ON m.sessionId = msu.sessionId
        JOIN
        user u ON m.fromId = u.userId
        WHERE
        msu.userId = #{userId}
        <if test="query != null and query != ''">
            AND m.content like concat('%', #{query}, '%')
        </if>
        ORDER BY
        m.createTime DESC
        LIMIT 50
    </select>
</mapper>
